*{
    font-family: Arial;
}

.logo{
    text-align: center;
    padding-bottom: 1cm;
}

.title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-bottom: 1cm;
    padding-left:0.5cm;
    padding-right:0.5cm;
}

.field{
    font-size: 18px;
    padding: 0.5cm;
    padding-bottom: 0.2cm;
}

.field.name{
    text-decoration: underline;
}

.field.value{
    font-weight: bold;
    font-size: 20px;
}

.warn-head{
    font-weight: bold;
    font-size: 18px;
    color: #ff0000;
    padding-left:0.5cm;
    padding-bottom:0.5cm;
    padding-top: 0.5cm;
}

.warn-head_center{
    text-align: center;
}

.warn{
    font-size: 18px;
    font-style: italic;
    padding-left:0.5cm;
    padding-right:0.5cm;
    padding-bottom:0.2cm;
}
