*{
    font-family: Arial;
}

@page {
    margin: 0;
}

body{
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    margin: 0;
}

.logo{
    text-align: center;
    padding-bottom: 0.1cm;
    padding-top: 0.5cm;
}

.title{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-bottom: 0.5cm;
    padding-left:0;
    padding-right:0;
}

.field{
    font-size: 10px;
    padding: 0.1cm;
}

.field.name{
    text-decoration: underline;
}

.field.value{
    font-weight: bold;
    font-size: 10px;
}

.field.value.number,.field.value.sector{
    font-size: 14px;
}

.warn-head{
    font-weight: bold;
    font-size: 10px;
    color: #ff0000;
    top:0.2cm;
    padding-left:0;
    padding-bottom:0.5cm;
    padding-top: 0.2cm;
}

.warn{
    font-size: 10px;
    font-style: italic;
    padding-left:0;
    padding-right:0;
    padding-bottom:0.2cm;
}
