<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        * {
            font-family: Arial !important;
        }
    </style>
</head>
<body>
<h1 th:text="${service.title}"></h1>
<h2>
    Категорія осіб, які мають право на отримання послуги
</h2>
<p th:utext="${service.categoryPerson}"> categoryPerson </p>
<h2>
    Перелік документів, необхідних для отримання послуги
</h2>
<p th:utext="${service.listOfDocs}"></p>
<h2>
    Порядок подання документів
</h2>
<p th:utext="${service.orderDocs}">orderDocs</p>

<h2>
    Підстави та умови отримання послуги
</h2>
<p th:utext="${service.condService}">condService</p>

<h2>
    Підстави для відмови
</h2>
<p th:utext="${service.condRefus}">condRefus</p>

<h2>
    Платність або безоплатність послуги
</h2>
<p th:utext="${service.payService}">payService</p>

<h2>
    Строк надання послуги
</h2>
<p th:utext="${service.timeServ}">timeServ</p>

<h2>
    Результат надання послуги
</h2>
<p th:utext="${service.resultServ}">resultServ</p>

<h2>
    Можливі способи отримання відповіді (результату)
</h2>
<p th:utext="${service.processAnswer}">processAnswer</p>

<h2>
    Акти законодавства, що регулюють порядок та умови надання послуги
</h2>
<p th:utext="${service.actLegal}">actLegal</p>

<h2>
    Суб’єкт надання послуги
</h2>
<p th:utext="${service.subjServ}">subjServ</p>

</body>
</html>
