<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="main.css">
    <div th:if="${record.size.name() == 'BIG'}" th:remove="tag">
        <link rel="stylesheet" type="text/css" href="page.css"/>
    </div>
    <div th:if="${record.size.name() == 'SMALL'}" th:remove="tag">
        <link rel="stylesheet" type="text/css" href="page_small.css"/>
    </div>
</head>
<body>
<div class="logo">
    <img th:src="${record.logo.logo}"/>
</div>
<h2 class="title">
    <div>
        Вітаємо з успішною реєстрацією на прийом до адміністратора
        <span th:text="${record.serviceCenter}" th:remove="tag">{{SERVICE_CENTER}}</span>
    </div>
    <div th:text="${record.serviceCenterAddress}">
        ({{ADDRESS}}})
    </div>
    <div>
        з питання <span th:text="${record.serviceName}" th:remove="tag">{{SERVICE_NAME}}</span>
    </div>
</h2>
<table>
    <tr>
        <td class="field name">
            Дата прийому:
        </td>
        <td class="field value" th:text="${record.date}">
            {{DATE}}
        </td>
    </tr>
    <tr>
        <td class="field name">
            Час:
        </td>
        <td class="field value" th:text="${record.time}">
            {{TIME}}
        </td>
    </tr>
    <tr>
        <td class="field name">
            Номер у черзі:
        </td>
        <td class="field value" th:text="${record.number}">
            {{NUMBER}}
        </td>
    </tr>
    <tr th:if="${record.sector!=null}">
        <td class="field name">
            Сектор:
        </td>
        <td class="field value" th:text="${record.sector}">
            {{SECTOR}}
        </td>
    </tr>
</table>
<p class="warn-head">
    Увага!
</p>
<p class="warn">
    Просимо своєчасно прибути до центру, у разі запізнення Ваш чек буде анульовано!
</p>
<p class="warn">
    Один запис у черзі надає можливість отримання тільки однієї послуги!
</p>
<p class="warn">
    Запис до електронної черги є індивідуальним, передача запису третім особам не допускається!
</p>
<p class="warn-head warn-head_center" th:if="${record.paid}">
    Можлива сплата адмінзбору через POS-термінал
</p>
</body>
</html>
