<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        * {
            font-family: Arial !important;
        }
    </style>
</head>
<body>
<h1 th:text="${service.name}"></h1>
<h2>
    Строк надання послуги
</h2>
<p th:utext="${service.termsOfService}"> terms of service</p>
<h2>
    Суб’єкт надання адміністративної послуги
</h2>
<ul>
    <li th:each="provider : ${service.providers}">
        <span th:text="${provider}" th:remove="tag">Provider</span>
    </li>
</ul>
<h2>
    Категорія заявників
</h2>
<p th:utext="${service.categoryOfApplicants}">categoryOfApplicants</p>

<h2>
    Центри надання послуг, у яких можливо отримати послугу
</h2>
<ul>
    <li th:each="district : ${service.districts}">
        <span th:text="${district}" th:remove="tag">district</span>
    </li>
</ul>
<h2>
    Документи, які подаються
</h2>
<ol>
    <li th:each="doc : ${service.docs}">
        <span th:text="${doc.name}" th:remove="tag">doc</span>
    </li>
</ol>
<th:block th:if="${service.needPay}">
    <h2>
        Платність надання адміністративної послуги
    </h2>
    <p th:utext="${service.payDoc}">payDoc</p>
</th:block>
<th:block th:if="${service.wayToGet != ''}">
    <h2>
        Спосіб отримання послуги
    </h2>
    <p th:utext="${service.wayToGet}">
        Спосіб отримання послуги
    </p>
</th:block>

<th:block th:if="${service.term != ''}">
    <h2>
        Результат надання адміністративної послуги
    </h2>
    <p th:utext="${service.term}">
        Спосіб отримання послуги
    </p>
</th:block>

<th:block th:if="${service.additionalInfo != ''}">
    <h2>
        Додаткова iнформацiя
    </h2>
    <p th:utext="${service.additionalInfo}">
        Додаткова iнформацiя
    </p>
</th:block>

<h2>
    Нормативні акти, які регламентують надання адміністративної послуги
</h2>
<th:block th:each="block: ${service.blocks}">
    <th:block th:if="${block.type != 'document_files'}">
        <th:block th:if="${block.type != 'document_refusals'}">
            <h3 th:text="${block.name}">Block name</h3>
            <ul>
                <li th:each="blockItem : ${block.items}">
                    <span th:remove="tag" th:text="${blockItem.name}">Block item name</span>
                </li>
            </ul>
        </th:block>
    </th:block>
</th:block>

<h2>
    Вичерпний перелік підстав для відмови у наданні адміністративної послуги
</h2>
<th:block th:each="block: ${service.blocks}">

    <th:block th:if="${block.type == 'document_refusals'}">
        <ol>
            <li th:each="blockItem : ${block.items}" th:text="${blockItem.name}">
                Block item name
            </li>
        </ol>
    </th:block>

</th:block>

</body>
</html>
